{% if parameters is defined and parameters %}
    {{ 'Available parameters : ' | trans }}
    <ul>
    {% for parameter in parameters %}
        <li>:{{ parameter }}:</li>
    {% endfor %}
    </ul>
{% endif %}